*{margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
  }
  body{
    background: #2d1b1b;
    background-color: rgb(26, 99, 99);
    color: #fff;
}
p{
    text-align: justify;
}
.container{
  width:100%;
  display: flex;
}
.image{
  width: 50%;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
h1{
  line-height: 50px;
}
.aboutme{
  width: 50%;
  margin:10px;
  padding:10px;
  line-height: 30px;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: ' ' ;
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;

}
.tab-content ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-content ul li span{
  color: #79d70c;
  font-size: 14px;
}
.Edu-table{
  border:1px solid rgb(238, 155, 13);
}
#footer1{
  margin-top: 150px;
}